mat-label {
  color: #8d8d8d;
}
mat-slider {
  margin: 0 15px;
  width: 60%;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #8d8d8d;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #8d8d8d;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #8d8d8d;
}
